@font-face {
  font-family: "font1";
  src: url("../../../public/assets/fonts/humanist-777-black-italic-bt.ttf") format("truetype");
}

.Ladingpage {

  .head {
    margin-top: -15px;
    display: flex;
    align-items: center;
    gap: 44em;

    .left {
      margin-left: 0.5em;
      gap: 0.3em;
      display: flex;
      align-items: center;
      font-family: "Microsoft PhagsPa";

      .caract {
        color: #39FF14;
        font-size: 1.2em;

      }

      .myname {
        color: white;
        font-size: 1.2em;

      }
    }

    .right {
      gap: 3em;
      display: flex;
      align-items: center;

      a {
        gap: 0.5em;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-family: "Microsoft PhagsPa";
        transition: transform 0.3s ease;

        img {
          width: 1.1em;
        }

        h2 {
          font-size: 1.1em;
          color: white;
          font-family: "Microsoft PhagsPa";
        }
      }

      a:hover {
        transform: scale(1.01);
      }
    }
  }

  #home {
    margin-top: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 09em;

    .text_button {

      h1 {
        color: #39FF14;
        font-family: "font1";
        font-size: 4em;
      }

      .bio {
        margin-top: -3em;
        display: flex;
        text-align: center;
        justify-content: center;
        gap: 0.3em;
        font-family: "Microsoft PhagsPa";
        font-size: 1.2em;

        .text1 {
          color: white;

        }

        .text2 {
          color: #39FF14;
        }
      }

      .buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10em;
        margin-top: 2em;


        .button {
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          text-decoration: none;
          gap: 0.8em;
          color: #39FF14;
          border: #39FF14 2px solid;
          border-radius: 5px;
          width: 10em;
          height: 3em;
          font-family: "Microsoft PhagsPa";

        }

      }
    }

    .perfil {
      width: auto;
      height: 24em;
    }
  }

  #sobremim {
    margin-top: 10em;

    .image-text {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 5em;


      .perfil {
        width: auto;
        height: 17em;
      }

      .text-button {
        font-family: "Microsoft PhagsPa";

        p {
          color: white;
          font-weight: 550;
          line-height: 2.1;
        }

        .button-cv {
          display: flex;
          align-items: center;
          gap: 0.5em;
          text-decoration: none;
          color: #39FF14;
          border: #39FF14 1px solid;
          border-radius: 5px;
          width: 9em;
          height: 2em;
          justify-content: center;

          h3 {
            margin-top: 1.1em;
            font-weight: 100;
          }

          img {
            width: auto;
            height: 1.3em;
          }
        }
      }
    }

    .cards {
      display: flex;
      color: white;
      font-family: "Microsoft PhagsPa";
      justify-content: center;
      margin-top: 8em;


      .mother-img {
        width: auto;
        height: 6em;

      }

      .card-frontend {
        border: #39FF14 4px solid;
        width: 18em;
        height: 30em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        border-right: 2px;

        h2 {
          margin-bottom: 2em;
        }

        .habilidade {
          display: flex;
          align-items: center;
          gap: 1em;

          img {
            width: auto;
            height: 2em;
          }
        }
      }

      .card-backend {
        border: #39FF14 4px solid;
        width: 18em;
        height: 30em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-right: 3px;

        h2 {
          margin-bottom: 2em;
        }

        .habilidade {
          display: flex;
          align-items: center;
          gap: 1em;

          img {
            width: auto;
            height: 2em;
          }
        }
      }

      .card-framework {
        border: #39FF14 4px solid;
        width: 18em;
        height: 26em;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 4em;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;

        .mother-img {
          margin-top: -1em;

        }

        h2 {
          margin-bottom: 2em;
        }

        .habilidade {
          display: flex;
          align-items: center;
          gap: 1em;

          img {
            width: auto;
            height: 2em;
          }
        }
      }
    }
  }

  #projetos {
    display: flex;
    flex-direction: column;
    margin-top: 10em;
    gap: 5em;

    .project1 {
      display: flex;
      gap: 2em;
      align-items: center;
      border: #39FF14 4px solid;
      border-radius: 10px;
      width: 60em;
      height: 19em;
      margin-left: 4em;

      .img_project {
        width: auto;
        height: 13em;
        margin-left: 1em;
        border: #39FF14 solid 1px;
        border-radius: 5px;
      }

      .line {
        justify-content: center;
        border: #39FF14 1px solid;
        width: 0em;
        height: 10em;
      }

      .description-project1 {
        color: white;
        font-family: "Microsoft PhagsPa";

        h2 {
          font-size: 2em;
        }

        h4 {
          line-height: 1.7em;
        }

        .tools {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4em;

          .tool1,
          .tool2 {
            display: flex;
            align-items: center;
            gap: 0.5em;

            h3 {
              font-size: 1em;
            }

            img {
              width: auto;
              height: 1.5em;
            }
          }
        }

        .more-information {
          margin-left: 6em;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          gap: 0.5em;
          border: #39FF14 1px solid;
          border-radius: 5px;
          width: 12em;
          height: 2.5em;

          h4 {
            color: #39FF14;
            font-weight: 200;

          }

          img {
            width: auto;
            height: 1em;
          }
        }
      }
    }


    .project2 {
      display: flex;
      gap: 2em;
      align-items: center;
      border: #39FF14 4px solid;
      border-radius: 10px;
      width: 60em;
      height: 19em;
      margin-left: 20em;

      .img_project {
        width: auto;
        height: 16em;
        border-radius: 2px;
        margin-left: 0em;

      }

      .line {
        justify-content: center;
        border: #39FF14 1px solid;
        width: 0em;
        height: 10em;
        margin-left: 1.5em;
      }

      .description-project2 {
        color: white;
        font-family: "Microsoft PhagsPa";

        h2 {
          font-size: 1.6em;
          margin-left: 1em;
        }

        h4 {
          line-height: 1.7em;
          margin-left: 1.5em;
        }

        .tools {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 4em;

          .tool1,
          .tool2 {
            display: flex;
            align-items: center;
            gap: 0.5em;

            h3 {
              font-size: 1em;
            }

            img {
              width: auto;
              height: 1.5em;
            }
          }
        }

        .more-information {
          margin-left: 6em;
          display: flex;
          align-items: center;
          justify-content: center;
          text-decoration: none;
          gap: 0.5em;
          border: #39FF14 1px solid;
          border-radius: 5px;
          width: 12em;
          height: 2.5em;

          .link {
            color: #39FF14;
            font-weight: 200;
            margin-left: 0em;
          }

          img {
            width: auto;
            height: 1em;
          }
        }
      }
    }
  }
}